<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CXHack_13.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>05A20B391DBB3DB70041DD7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05A20B501DBB3DB70041DD7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05A20B5B1DBB3DB70041DD7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
